:root {
    /* COLORS */
    --color-primary-extra-strong: #F5A201;
    --color-primary-strong: #FFB72E;
    --color-primary-medium: #FBC169;
    --color-primary-light: #FFE2B1;
    --color-primary-extra-light: #FFFAF2;
    --color-black: #0B1E33;
    --color-black-light: #1F365D;
    --color-white: #FFFFFF;
    --color-grey: #DBDDE2;
    --color-grey-light: #F5F9FA;
    --color-red: #FB4141;
    --color-light-red: #FFE8E9;
    --color-green: #C4E047;
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
}

/* Light mode styles */
body[data-theme="light"] {

    /* Background */
    --color-background: var(--color-white);
    --color-footer-background: var(--color-primary-extra-strong);

    /* Fonts */
    --color-font: var(--color-black);
    --color-p: var(--color-black);
    --color-h: var(--color-black);
    --color-link: var(--color-black);
    --color-tooltip-text: var(--color-white);

    /* Button */
    --button-color: var(--color-black);
    --button-text-color: var(--color-white);
    --btn-hover-font-color: var(--color-white);

    /* Inputs */
    --color-input-background: var(--color-white);
    --color-input-borderline: var(--color-grey);
    --color-input-field: var(--color-white);
    --color-input-container-borderline: var(--color-grey);
    --color-hr: var(--color-grey);

    /* Journal tooltip */
    --color-tooltip-background: var(--color-black);

    /* Containers */
    --advice-container-background: var(--color-grey-light);
    --copy-journal-background: var(--color-grey-light);
    --transfusion-advice: var(--color-light-red);
    --noAdvice-advice: var(--color-grey-light);

}

/* Dark mode styles */
body[data-theme="dark"] {

    /* Redfine colours */
    --color-black: #000000;

    /* Background */
    --color-background: var(--color-black);
    --color-footer-background: #261f16;

    /* Fonts */
    --color-font: #D8D6D5;
    --color-p: var(--color-font);
    --color-h: var(--color-white);
    --color-link: var(--color-white);
    --color-tooltip-text: var(--color-black);

    /* Button */
    --button-color: #ffbf6b;
    --button-text-color: var(--color-black);
    --btn-hover-font-color: var(--color-black);

    /* Inputs */
    --color-input-background: #282828;
    --color-input-borderline: var(--color-black);
    --color-input-field: var(--color-black);
    --color-input-container-borderline: var(--color-black);
    --color-hr: var(--color-input-background);

    /* Journal tooltip */
    --color-tooltip-background: var(--color-white);

    /* Containers */
    --advice-container-background: #3A342C;
    --transfusion-advice: #201614;
    --copy-journal-background: var(--color-input-background);
    --noAdvice-advice: var(--color-input-background)

}

body {
    /*  Font attributes */
    color: var(--color-font);

    /* For smooth dark-mode transition */
    transition: background-color 0.3s, color 0.3s;

    h1 {
        line-height: 1;
        letter-spacing: -0.01rem;
    }

    h2 {
        line-height: 1.067;
        letter-spacing: 0.03rem;
    }

    h3 {
        line-height: 1.083;
        letter-spacing: 0.02rem;
    }

    h4 {
        line-height: 1.1;
        letter-spacing: 0.01rem;
    }

    h5 {
        line-height: 1.111;
        letter-spacing: 0.01rem;
    }

    h6 {
        line-height: 1.125;
        letter-spacing: 0.01rem;
    }

    p {
        line-height: 1.3;
        letter-spacing: 0.01rem;
        color: var(--color-p);
    }
}
*, h1, h2, h3, h4, h5, h6, p, input, a, li {
    font-family: "Poppins", sans-serif;
    color: var(--color-h)
}

/* MOBILE FONTS SIZE AND TYPES */
@media (max-width: 576px) {
    /* Root font-size*/
    * {font-size: 14px;}
    /* Relative font-sizes*/
    body {
        /* Heading font sizes*/
        h1 {font-size: 1.5rem}
        h2 {font-size: 1.3rem}
        h3 {font-size: 1.25rem}
        /* Bold text*/
        h1, h2, h3 {font-weight: bold}
    }
}

/* TABLET FONTS FONTS SIZE AND TYPES **/
@media (min-width: 576px) {
    /* Root font-size*/
    * {font-size: 16px;}
    /* Relative font-sizes */
    body {
        /* Heading font sizes*/
        h1 {font-size: 2.125rem}
        h2 {font-size: 1.35rem}
        h3 {font-size: 1.25rem}
        h4 {font-size: 1.125rem}
        /* Bold text*/
        h1, h2, h3 {font-weight: bold}
    }
}
/* DESKTOP FONTS FONTS SIZE AND TYPES **/
@media (min-width: 992px) {
    /* Root font-size*/
    * {font-size: 18px;}
    /* Heading font sizes*/
    body {
        h1 {font-size: 1.6rem}
        h2 {font-size: 1.3rem}
        h3 {font-size: 1.2rem}
        h4 {font-size: 1.1rem}
        h5 {font-size: 1.1rem}
        /* Bold text */
        h1, h2, h3, h4, h5 {font-weight: 600}
    }
}